@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --yellow-color: #d4aa11;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif
}

a { text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

.logo {
    height: 150px;
    width: 150px;
    margin: 20px 20px 50px 20px;
}